<div class="container" style="margin-top:30px">
    <span>rrrr</span>
    <div class="row" id="about">
      <div class="col-md-3">
         
         
        <div class="img">

            <img src="assets/P_20180526_150057_BF.jpg" class="img-fluid img-thumbnail"></div>
         
       
         
        <hr class="d-sm-none">
      </div>
      <div class="col-md-9">
        <h1>LOKESH YADAV</h1>
        <h5>Contact Detail :</h5>
        <p><b>Phone:</b> +91 9910770496</p> 
        <p><b>E-mail:</b> lokesh.yadav.ly@gmail.com</p>
        <p><b>Skype ID: live:</b> cid.82bf96603d67f7cb </p>


         
        <p>To work with an organization that utilizes my knowledge and skills and provides me opportunities to learn and avenues for growth and a humane work environment.</p>
        
        <br>
         
      </div>
    </div>

    <hr>
<div class="row p-5 ws-grey" id="education">

    <div class="col-md-6"> <h1 class="text-center pb-4">EDUCATION</h1>
        <ul>
            <li>MCA, form IIMT management college, Meerut</li>
            <li>BCA, form Pt.D.D.U.M.C, Meerut</li>
            <li>10th, NLGIC, form UP Board</li>
            <li>12th, SSDIC, form UP Board </li>
            </ul></div>

 
<div class="col-md-6">
     
    <h1 class="text-center pb-4">SKILLS</h1>

    <label class="btn btn-primary">Angular</label> &nbsp;
    <label class="btn btn-primary">PHP</label>  &nbsp;
    <label class="btn btn-primary">MYSQL</label>  &nbsp;
    <label class="btn btn-primary">CodeIgniter</label>  &nbsp;
    <label class="btn btn-primary">WordPress</label>  &nbsp;
    <label class="btn btn-primary">HTML</label>  &nbsp;
    <label class="btn btn-primary">CSS</label>  &nbsp;
    <label class="btn btn-primary">JavaScript</label>  &nbsp;
    <label class="btn btn-primary">AJAX</label>  &nbsp;
    <label class="btn btn-primary">jQuery</label> &nbsp;
    
 
    
</div>
</div>
<hr>

<!------------------------------------------------------------>
<div class="row pt-4" id="workexperience">
    
    <div class="col-md-12"> 
        <h1 class="text-center pb-4">WORK EXPERIENCE</h1>
    <p class="text-center"> I have a 10 years of work experience. 7 years in PHP, MYSQL, HTML, CSS, JavaScript, AJAX, jQuery and 3 years in Angular.</p>
</div>



 


 
</div>
<!------------------------------------------------->
<div class="row pt-4 " id="org">
    
    <div class="col-sm-3  align-self-center bg-primary p-2 rounded"> 
        <h1 class="text-center  text-white ">Organisation</h1>
    
</div>
<div class="col-md-9"> 
     <div class="row">
    <div class="col-md-6 mb-3  pt-4" > <div class="btn-dark p-2 rounded"> <p>Nextgen Pt. Ltd <br>Position: Web Developer<br>
     From: Feb 2021 to Present </p></div>
         </div>
    <div class="col-md-6 mb-3 pt-4"> <div class="btn-dark p-2 rounded"> <p>Advancells Pt. Ltd <br>Position: Web Developer <br>From: Feb 2015 to Jan 2021</div></div>
    <div class="col-md-6  mb-3 pt-4"><div class="btn-dark p-2 rounded"> <p>Zombie Softwares Pvt. Ltd <br>Position: Web Developer
        <br>From: April 2012 to Dec. 2014</p>
         </div></div>
    <div class="col-md-6 mb-3 mb-3 pt-4" > <div class="btn-dark p-2 rounded"> <p>Zombie Softwares Pvt. Ltd <br>Position:Web Developer
        <br>From: April 2012 to Dec. 2014 </div>
        
        </div>
    </div>


</div>



</div>
<hr>
<!------------------------------------------------------------>
<div class="row pt-4" id="projectdescription">
    
    <div class="col-sm-12">
        <h1 class="text-center pb-4">Project Description</h1>
        <div class="bg-success p-4 bg-dark text-white rounded"> 
        
  
 
    <h4><b>Macro Jwelles</b></h4>
    <p><b>Url:</b> http://macrojwelles.com/</p>
    <p><b>Technology:</b> Angular 10, bootstrap, JavaScript, ajax.</p>
    <p> It is an online portal of Jewellery. Where user can buy Jewellery there are below feature.</p>
    <b>Registration & Login:</b>  This feature provide facility to user, list their information with us for buying product.<br>
    <b>Search:</b> This feature helps user to fine specific product(Jewellery).<br>
    <b>Wish Lists:</b> It’s an opportunity to share a brand with new buyers. When shoppers share their wish lists with family and friends.<br>
    <b>Cart System:</b> This feature allows user to record of the items a buyer has ‘picked up’ from the online store. Acting as an online store’s catalog, the eCommerce shopping cart enables consumers to select products, review what they selected, make modifications or add extra items if needed, and purchase the products.<br>
    <b>Related Items:</b> Related items can also include similar product categories to comparison shop, “people who bought this item also searched for”, and so on.<br>
    <b>Payment & COD (cash on delivery) Options:</b> There are online payment & COD options which help to user buy a product.<br>
    <b>Return Policy:</b> This is another trust-building feature of online selling. It reassures buyers that if they are unhappy or just need a different size, the brand is there for them.
</div>
    <hr>
    <div class="bg-success p-4 bg-dark text-white rounded"> 
  <h4><b>Disha3d.com</b></h4>

    <p><b>Url:</b> https://disha3d.com/	</p>
<p><b>Technology</b>: Angular, bootstrap, JavaScript, ajax.</p>

<p text-justify>This is a ecommerce web portal of buying and selling a 3D Model means user can buy and sell 3D Model with registration and login process.</p> </div>
<hr>
<div class="bg-success p-4 bg-dark text-white rounded">
  <p><b>PMS (Process Management System)</b></p>
    <p><b>Url:</b>https://disha3d.com/pms/	</p>
    <p><b>Technology</b>:  PHP, MySQL, JavaScript, jQuery ajax.</p>
    
    <p text-justify> PMS(Process Management System) is a that involves many different aspects and many things that have to be tracked and followed up upon. You have to determine create a task, schedule, assign resources, and identify and track issues and risks. You can successfully track all those different aspects of a task. A process management system is a means of managing a project by planning, organizing, and managing its different required aspects.</p>
    </div>
   <hr>
 
  
   <div class="bg-success p-4 bg-dark text-white rounded"> <h4><b>Advancells</b></h4>
   <p><b>Url:</b> https://www.advancells.com/</p>
   <p><b>Technology:</b> Angular9, MySQL, JavaScript, jQuery
    
   <p text-justify>This Web portal provides treatment and information of Regenerative Medicine. It provides the treatment on the basis on stem cell there are so many diseases listed, they cannot cure by medicine, can only be treated with stem cell. The user can fill info in query section or ask the about the diseases and ask about the treatment process and patient will get the reply within 24 hours.</p>
   </div>
</div>



</div>


  </div>
  